* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px; /* Tamaño de fuente base */
}

body {
    background-color: rgb(255, 255, 255);
    padding-top: 70px;
}


#consulta{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 10px;
    background-color: rgb(181, 52, 52);
    color: white;
    border-radius: 15px;
    
    gap: 5px;
}

.input{
    padding: 12px;
    margin: 10px;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 15px;
    font-family: Helvetica;
    font-weight: bold;
    
}

#msg{
    width: 30%;
    padding: 12px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-family: Helvetica;
    font-weight: bold;
}

#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-family: Helvetica;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#send:hover{
    cursor: pointer;
    color: rgb(181, 52, 52);
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255);
}