body {
  margin: 0;
}

/* Secciones */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

/* Colores de ejemplo */
.sec1 {
  background: #222;
  color: white;
}

.sec2 {
  background: #f5f5f5;
}